

.calculator {
  background-color: #eee;
  height: 500px;
  width: 300px;
  border: 10px solid #888;
  border-radius: 10px;
  margin: 10px auto; 
  padding: 15px;
  position: relative;
}

h1 {  
  font-family: "Orbitron", sans-serif; 
  text-align:center; 
  font-size: 1.0em; 
  display: block; 
  margin: 5px auto;
  letter-spacing: 0.05em;
}
h3 {  
  font-family: "Orbitron", sans-serif; 
  text-align:center; 
  font-size: 0.8em; 
  display: block; 
  margin: 5px auto;
  display: none;
}

.off-message {
  font-size: 1.4em;
  margin-top: 200px;
}


#display {
  background-color: azure;
  height: 50px;
  width: 230px;
  border: 2px solid black;
  border-radius: 2px;
  margin: 10px auto; 
  padding: 15px;
  overflow: hidden;
}

#value {
  float: right;
  font-size: 1.9em;
  font-weight: 500;
  font-family: 'Segment7Standard', "Armata", "Arial", sans-serif;
  margin-top: .4em;
}

.calc-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.calc-btn a:visited { color: white; }

.hide-row {
  display: none;
}
.calc-btn {
  height: 20px;
  width: 25px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px; 
  padding: 7px 5px 4px 5px;
  text-align: center;
  display: inline-block;
  font-family: "Arial", sans-serif; 
  cursor: pointer;
}
.times { font-family: "Times New Roman", serif; }
.btn-shadow { box-shadow: 3px 3px #222; }
/*.btn-shadow { box-shadow: 2px -2px 2px rgba(34,34,34,0.6); }*/
/*.btn-shadow {box-shadow: inset 0px 0px 20px 10px rgba(64,64,64,0.2);}*/
.btn-press { transform:translate(2px,2px); }

.calc-btn p { margin: auto; color: #fff; }

.operator {
  background-color: royalblue;
}
.control {
  background-color: #c33;
}
.value {
  background-color: #555;
}
.memory {
  background-color: green;
}
.operator:hover {
  background-color: #6D98ef;
}
.control:hover {
  background-color: #f00;
}
.value:hover {
  background-color: #999;
}
.memory:hover {
  background-color: #4a4;
}
a { color: royalblue; text-decoration: none; text-align: center; }

a:visited, a:active, a:hover, a:focus { text-decoration: none; }

.foot { 
  font-size: 1.2em;
  font-weight: 600;
    position: absolute; 
/*  margin: .5em auto;*/
  right:auto;
/*  left: auto;*/
  bottom: .5em;
  height: 40px;
  border: 0 auto;
  width: 80%;
}
.foot p { font-family: "Arial", sans-serif; text-align: center; }
.foot a:hover { font-style: italic; }

/*.copy { font-size: 1.4em; font-weight: 800; }*/

@media screen and (max-width: 320px) {
.calculator {
  width: 100%;
}
  
  #value {
    float: right;
    font-size: 1.4em;
    font-weight: 600;
    font-family: "Armata", "Arial", sans-serif;
    margin-top: .4em;
  }
};
