

.calculator {
  background-color: #eee;
  height: 430px;
  width: 280px;
  border: 10px solid #888;
  border-radius: 10px;
  margin: 10px auto; 
  padding: 15px;
/*  position: relative;*/
}

h1 {  
  font-family: "Orbitron", sans-serif; 
  text-align:center; 
  font-size: 1.0em; 
  display: block; 
  margin: 5px auto;
  letter-spacing: 0.05em;
}
h3 {  
  font-family: "Orbitron", sans-serif; 
  text-align:center; 
  font-size: 0.8em; 
  display: block; 
  margin: 5px auto;
  display: none;
}

.off-message {
  font-size: 1.4em;
  margin-top: 200px;
}


#display {
  background-color: azure;
  height: 50px;
  width: 230px;
  border: 2px solid black;
  border-radius: 2px;
  margin: 10px auto; 
  padding: 15px;
  overflow: hidden;
}

#value {
  float: right;
  font-size: 1.9em;
  font-weight: 500;
  font-family: 'Segment7Standard', "Armata", "Arial", sans-serif;
  margin-top: .4em;
}

.calc-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.calc-btn a:visited { color: white; }

.hide-row {
  display: none;
}
.calc-btn {
  height: 37px;
  width: 47px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px; 
  padding: 7px 5px 4px 5px;
  text-align: center;
  display: inline-block;
  font-family: "Arial", sans-serif; 
  font-size: 1em;
  cursor: pointer;
}
.times { font-family: "Times New Roman", serif; }
.btn-shadow { box-shadow: 3px 3px #222; }
/*.btn-shadow { box-shadow: 2px -2px 2px rgba(34,34,34,0.6); }*/
/*.btn-shadow {box-shadow: inset 0px 0px 20px 10px rgba(64,64,64,0.2);}*/
.btn-press { transform:translate(2px,2px); }
.calc-btn:focus { outline: 0px solid #000; }

.calc-btn p { margin: auto; color: #fff; }

.operator       { background-color: royalblue; }
.control        { background-color: #c33; }
.value          { background-color: #555; }
.memory         { background-color: green;}
.operator:hover { background-color: #6D98ef; }
.control:hover  { background-color: #f00; }
.value:hover    { background-color: #999; }
.memory:hover   { background-color: #4a4; }
.blackout       { background-color: #000; }

.foot a { color: royalblue; text-decoration: none; text-align: center; }

a:visited, a:active, a:hover, a:focus { text-decoration: none; }

.foot { 
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
/*    position: absolute; */
  margin: 2em auto .5em auto;
  padding-top: 1em;
  font-family: "Orbitron", "Arial", sans-serif;
}
.foot a:hover { font-style: italic; }

/*.copy { font-size: 1.4em; font-weight: 800; }*/

@media screen and (max-width: 350px) {
  .calculator { width: 250px; height: 380px; border: 8px solid #888; }
  h1 {  font-size: .9em; letter-spacing: 0.03em; }
  .calc-btn {
    height: 30px;
    width: 40px;
    border-radius: 5px;
    margin: 5px; 
    padding: 7px 5px 4px 5px;
    font-size: .9em;
    }
  #display {
    height: 40px;
    width: 210px;
    border: 2px solid black;
    margin: 10px auto; 
    padding: 15px;
    font-size: .9em;
  }
  .foot { font-size: 1.1em; }
}

@media screen and (max-width: 300px) {
  .calculator { width: 200px; height: 340px; border: 6px solid #888; }
  h1 {  font-size: .8em; letter-spacing: 0.01em; }
  .calc-btn {
    height: 28px;
    width: 35px;
    border-radius: 5px;
    margin: 5px; 
    padding: 7px 5px 4px 5px;
    font-size: .8em;
    }
  #display {
    height: 25px;
    width: 170px;
    border: 2px solid black;
    margin: 10px auto; 
    padding: 15px;
    font-size: .8em;
  }
  .foot { font-size: 1em; }
}

